*{
	font-family: times new roman;
}


body{
	background-color: #eaeaae;
}


/* SERVICES SECTION */

#services_offered{
	margin-top: 20px;

}

.services_column{
	padding: 10px;
	text-align: center;
	max-width: 350px;
}

.services-content{
	margin-top: 20px;

}

/* GALLERY SECTION */

#gallery{
	margin-top: 100px;
}

button{
	margin: 50px;
}

footer{
	font-size: 20px;
	background-color: black;
	color: gold;
}

.footer-link{
	 color: white;
}

.footer-link:hover{
	color: gold;
}
